header{
    display: block;
    border-bottom: solid gray;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 0;
}
.msg {
    border-top: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
    background-color: #e6e6e6;
    word-wrap: break-word;
}
#span{
    display: flex;
}
#chat-box {
    
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}
#chat-msg {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: rgb(154, 215, 240);
    display: flex;
    flex-direction: column-reverse;
}
#user-input {
    display: flex;
    padding: 10px;

}
#user-input input {
    flex: 1;
    padding: 10px;
    outline: none;
}
.btn {
    margin-right: 10px;
    border: 1px solid white;
    background-color: #1e88e5;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}